{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Neighborhood API</title>
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    {% endblock %}
  </head>
  <body>
    <div class="text-center mt-5">
      <h1>Neighborhood API</h1>
    </div>
    <div style="padding-left: 35px">
      <div class="page-headings style2">
        <hr />
        <h1 class="heading-x-large">
          A web application that allows you to be in the loop about everything
          happening in your neighborhood.
        </h1>
        <p>
          A meeting point, where people from different neighborhoods find
          information, connect, and share events and news. From<strong>
            contact information</strong
          >
          of different handymen to<strong> meeting announcements</strong> or
          <strong>alerts</strong>, there is something for everyone.
        </p>
      </div>
    </div>
  </body>
</html>
